@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Начало общего стили */


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}

p+p {
    margin-top: 15px;
}

.container {
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 165px;
    height: 50px;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    background-color: #F6762c;
    border-radius: 5px;
    transition: opacity 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn--small {
    width: 140px;
    height: 40px;

    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

/* Конец общего стили */


/* Начало шапки*/
.header {
    position: relative;
    padding: 25px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 30px;
}

/* конец шапки*/


/* Начало прив. секция */

.main {}

.welcome {
    min-height: 100vh;

    margin: -118px 0 40px 0;
    padding: 242px 0;

    background: url('../images/welcome-bg.jpg') no-repeat right top/cover;
}

.welcome__text {
    width: 550px;
}

.welcome__subtitle {
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 7px;
}

.welcome__title {
    font-size: 58px;
}

.welcome__desc {
    margin: 40px 0;

}

.welcome__desc-page {
    font-size: 18px;
    line-height: 1.7;
}

/* конец прив. секция */



/* Список еды */

.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.food-list__card {
    width: 260px;

    border-radius: 10px;
    background-color: #312F38;

    overflow: hidden;
    text-align: center;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__title {
    margin-bottom: 15px;
    font-size: 20px;
}

.foot-list__desc {}

.food-list___text-wrapper {
    padding: 30px 20px;
}

/* Конец список еды */


/* Бургер меню */

.order {
    background-color: #312F30;
    padding: 60px 0;
}

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 90px;
}

.order__wrapper-img {
    width: 470px;
    height: 300px;
}

.order__wrapper-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.order__text {
    max-width: 360px;
}

.order__title {
    margin-bottom: 25px;
    font-size: 44px;
}

.order__desc {
    margin-bottom: 15px;
    opacity: .7;
}

.order__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #F6762C;
}

.order__price--old {
    font-size: 16px;
    text-decoration: line-through;
    opacity: .5;
}

.order .btn {
    margin-top: 9px;
}

.order__price+.order__price {
    margin-left: 3px;
}

/* Конец Бургер меню */



/* Продукции */

.product {
    padding: 150px 0;
}

.product .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


.product__card {
    box-sizing: border-box;

    width: 555px;
    min-height: 300px;

    padding: 60px 30px 60px 290px;

    background-color: #4b3a3a;
}

.product__card:nth-child(even) {
    padding-left: 30px;
    padding-right: 290px;
}

.product__title {
    margin-bottom: 20px;
    font-size: 30px;
}

.product__desc {
    margin-bottom: 10px;
    opacity: .7;
}

.product__price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #F6762C;
}

.product__price+.product__price {
    margin-left: 5px;
}

.product__price--old {
    text-decoration: line-through;
    opacity: .5;
}

.product .btn {
    margin-top: 10px
}

.card-queen {
    background: url(../images/product-1.jpg) center/cover no-repeat;
}

.card-hut {
    background: url(../images/product-2.jpg) center/cover no-repeat;
    ;
}

.card-king {
    background: url(../images/product-3.jpg) center/cover no-repeat;
    ;
}

.card-papa {
    background: url(../images/product-4.jpg) center/cover no-repeat;
    ;
}


/* Конец продукции */



/* Feedback */

.feedback {}

.container {}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback__wrapper_img {
    width: 500px;
}

.feedback__img {
    width: 100%;

}

.feedback__text::before {
    content: url(../images/icons/quote.png);
}

.feedback__text {
    margin: 0;
    text-align: center;
    width: 370px;
}

.feedback__desc {
    margin: 30px 0;
    opacity: .7;
}

.feedback__author {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.feedback__subauthor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;

    display: block;
}

/* Конец Feedback */


